@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	body {
		@apply bg-[#0E0E0E] text-white;
	}

	::-webkit-scrollbar {
		height: 4px;
		width: 4px;
		background-color: rgba(133, 133, 133, 0.1);
	}

	::-webkit-scrollbar-thumb:horizontal {
		background: rgba(133, 133, 133, 0.3);
		border-radius: 10px;
	}

	::-webkit-scrollbar-thumb:vertical {
		background: rgba(133, 133, 133, 0.3);
		border-radius: 10px;
	}
}
